<div id="banner">

<div id="banner-image">
<div id="short-banner">
<span id="banner-logo">
  <!--<a href="/"><img src='http://images.pokeds.com/styles/logo.gif' alt='PokeDS' title='PokeDS'
    onmouseover="setAttribute('src','http://images.pokeds.com/styles/logo2.gif')" onmouseout="setAttribute('src','http://images.pokeds.com/styles/logo.gif')" />
  </a>-->
</span>
<div id="banner-ad" onmouseover="changeOpacity(this, 100, true)" onmouseout="changeOpacity(this, 50, false)">
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-5509312983872698";
  /* PokeDS Banner */
  google_ad_slot = "7017853487";
  google_ad_width = 468;
  google_ad_height = 60;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>
</div>
</div>
</div>
<div id="container">
<div id="navbar">
<div id="navcontent">
<!--Styleswitcher-->
<div class="nav-link" id="absol-cont"
  onmouseover="document.getElementById('absol-cont').setAttribute('class', 'nav-link2');
    get_dropdown('style_menu',102);"
  onMouseOut="document.getElementById('absol-cont').setAttribute('class', 'nav-link');
    lose_dropdown('style_menu',250,102);">
  <a href="javascript:;" onclick="toggleBanner();"  class="link-anchor">
    <span class="nav-link-cont">
    <div style="background: url('http://images.pokeds.com/sprites/pokecons/182.png') no-repeat center;
          width: 35px;
          height: 30px;" id="style-link" ></div>
    </span>
  </a>

<div class="nav_menu" id="style_menu"
  onmouseover="get_dropdown('style_menu',102);" onMouseOut="lose_dropdown('style_menu',250,102);" >
  <!--<div class="menu_title">Switch Styles</div>-->


<div class="menu_item" style="width: 32px; float:left; ">
<a href="/switch.php?id=0">
<img src="http://images.pokeds.com/sprites/pokecons/359.png" alt="PokeDS Classic" title="PokeDS Classic" />
</a>
</div>
<div class="menu_item" style="width: 32px; float:left; ">
<a href="/switch.php?id=1">
<img src="http://images.pokeds.com/sprites/pokecons/182.png" alt="Spring Pokemon" title="Spring Pokemon" />
</a>
</div>
<div class="menu_item" style="width: 32px; float:left; ">
<a href="/switch.php?id=2">
<img src="http://images.pokeds.com/sprites/pokecons/612.png" alt="Dragon Pulse" title="Dragon Pulse" />
</a>
</div>
<div class="menu_item" style="width: 32px; float:left; ">
<a href="/switch.php?id=3">
<img src="http://images.pokeds.com/sprites/pokecons/487.png" alt="Haunted Halloween" title="Haunted Halloween" />
</a>
</div>
</div>

</div>


<div class="nav-link" id="logo-cont"
  onmouseover="document.getElementById('logo-cont').setAttribute('class', 'nav-link2');
    get_dropdown('site_menu',1);"
  onMouseOut="document.getElementById('logo-cont').setAttribute('class', 'nav-link');
    lose_dropdown('site_menu',250,1);">
<a href="/" class="link-anchor">
<span class="nav-link-cont">
<img src="http://images.pokeds.com/pokeds-logo.png" alt="PokeDS" title="The Pokemon Desert Shadow" />
<div class="nav-arrow"></div>
</span>
</a>

<div class="nav_menu" id="site_menu"
  onmouseover="get_dropdown('site_menu',1);" onMouseOut="lose_dropdown('site_menu',250,1);" >
  <div class="menu_title">Explore PokeDS</div>
  <div class="menu_item"><a href="/"><span class="menu_stuff">
    <img src="http://images.pokeds.com/icons/house.png" title="Home" alt="Home" /> Home</span></a></div>
  <!--<div class="menu_item"><a href="/forums/"><span class="menu_stuff">
    <img src="http://images.pokeds.com/icons/book.png" title="Forums" alt="Forums" /> Forums</span></a></div>-->
  <div class="menu_item"><a href="/channels/"><span class="menu_stuff">
    <img src="http://images.pokeds.com/icons/transmit.png" title="Channels" alt="Channels" /> Channels</span></a></div>
  <!--<div class="menu_item"><a href="/poketrack.php"><span class="menu_stuff">
    <img src="http://images.pokeds.com/icons/sort_price.png" title="Chat" alt="Chat" /> Poketracker</span></a></div>-->
  <!--<div class="menu_item"><a href="/chat.php"><span class="menu_stuff">
    <img src="http://images.pokeds.com/icons/comment.png" title="Chat" alt="Chat" /> Chat</span></a></div>-->
  <div class="menu_item"><a href="/fun/"><span class="menu_stuff">
    <img src="http://images.pokeds.com/icons/joystick.png" title="Fun" alt="Fun" /> Games and Fun</span></a></div>

  <div class="menu_title"></div>

  <div class="menu_item"><a href="/adopts/"><span class="menu_stuff">
    <img src="http://images.pokeds.com/icons/direction.png" title="Fun" alt="Fun" /> Pokemon Adoptables</span></a></div>

  <div class="menu_item"><a href="/top-pokemon/"><span class="menu_stuff">
    <img src="http://images.pokeds.com/icons/award_star_gold.png" title="Fun" alt="Fun" /> Pokemon Faceoff</span></a></div>
</div>
</div>

<!--This is the start of the COMMUNITY menu-->
<div class="nav-link" id="com-cont"
  onmouseover="document.getElementById('com-cont').setAttribute('class', 'nav-link2');
    get_dropdown('com_menu',20);"
  onMouseOut="document.getElementById('com-cont').setAttribute('class', 'nav-link');
    lose_dropdown('com_menu',250,20);">
  <a href="/forums/" class="link-anchor">
  <span class="nav-link-cont">
  <span class="nav-text">Community</span>
  <div class="nav-arrow"></div>
  </span>
  </a>
  <div class="nav_menu" id="com_menu"
    onmouseover="get_dropdown('com_menu',20);" onMouseOut="lose_dropdown('com_menu',1000,20);">
    <div class="menu_title">The PokeDS Community</div>

    <div class="menu_item"><a href="/forums/"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/book.png" title="Forums" alt="Forums" /> Forums</span></a></div>
    <div class="menu_item"><a href="/galleries/"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/picture.png" title="Galleries" alt="Galleries" /> Galleries</span></a></div>
    <div class="menu_item"><a href="/chat.php"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/comment.png" title="Chat" alt="Chat" /> Chat</span></a></div>

    <div class="menu_title"> </div>
    <div class="menu_item"><a target="_blank" href="http://www.facebook.com/groups/412639515422726/"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/other/facebook.png" title="Chat" alt="Chat" /> Battling Community</span></a></div>
  </div>
</div>

<!--This is the start of the REFERENCE menu-->
<div class="nav-link" id="ref-cont"
  onmouseover="document.getElementById('ref-cont').setAttribute('class', 'nav-link2');
    get_dropdown('ref_menu',2);"
  onMouseOut="document.getElementById('ref-cont').setAttribute('class', 'nav-link');
    lose_dropdown('ref_menu',250,2);">
  <a href="/pokedex.php" class="link-anchor">
  <span class="nav-link-cont">
  <span class="nav-text">Resources</span>
  <div class="nav-arrow"></div>
  </span>
  </a>
  <div class="nav_menu" id="ref_menu"
    onmouseover="get_dropdown('ref_menu',2);" onMouseOut="lose_dropdown('ref_menu',1000,2);">
    <div class="menu_title">Pokemon Resources</div>
    <div class="menu_item"><a href="/pokedex.php"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/chart_bar.png" title="Pokedex" alt="Pokedex" /> Pokedex</span></a></div>
    <div class="menu_item"><a href="/calculators/movesets.php"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/calculator.png" title="Calculators" alt="Calculators" /> Calculators and Tools</span></a></div>
    <div class="menu_item"><a href="/guides/"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/script.png" title="Guides" alt="Guides" /> Game Guides</span></a></div>

    <div class="menu_title"></div>
    <div class="menu_item"><a href="/art/pokemon.php"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/paintbrush.png" title="Art" alt="Art" /> Original Artwork</span></a></div>
  </div>
</div>

<!--END MENUS-->



<div class="nav-link">
<div id="searchwrapper">
  <form action="/search.php">
    <div>
    <input type="hidden" name="cx" value="partner-pub-5509312983872698:2596599479" />
    <input type="hidden" name="cof" value="FORID:10" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q"  class="searchbox"
      value="Search" id="the_searchbox"
      onfocus="if (this.value == 'Search') { this.value = ''; }; changeSearch(2);"
      onblur="changeSearch(1);" />
    <input type="image" src="http://images.pokeds.com/search_button.gif" class="searchbox_submit" name="sa" value="Search" />
    </div>
  </form>
</div>
</div>


<div class="nav-link" id="user-cont"
  onmouseover="document.getElementById('user-cont').setAttribute('class', 'nav-link2');
    get_dropdown('user_menu',3);"
  onMouseOut="document.getElementById('user-cont').setAttribute('class', 'nav-link');
    lose_dropdown('user_menu',250,3);">
  <a href="/users/tiff" class="link-anchor">
  <span class="nav-link-cont">
  <span class="nav-text">Account</span>
  <div class="nav-arrow"></div>
  </span>
  </a>
  <div class="nav_menu" id="user_menu"
    onmouseover="get_dropdown('user_menu',3);" onMouseOut="lose_dropdown('user_menu',1000,3);">
    <div class="menu_title">Tiff (#1)</div>

    <div class="menu_item"><a href="/users/tiff"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/flag_blue.png" title="Profile" alt="Profile" /> My Profile</span></a></div>
    <div class="menu_item"><a href="/settings/"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/cog.png" title="Settings" alt="Settings" /> My Settings</span></a></div>

    <div class="menu_title"></div>

    <div class="menu_item"><a href="/adopts/tree"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/coins.png" title="Berries" alt="Berries" /> 327 Berries</span></a></div>
    <div class="menu_item"><a href="/users_online.php"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/user.png" title="Users" alt="Users" /> 2 Users Online</span></a></div>

    <div class="menu_title"></div>
  <div class="menu_item"><a href="/login.php?logout=1"><span class="menu_stuff">
    <img src="http://images.pokeds.com/icons/lock_unlock.png" title="Logout" alt="Logout" /> Logout</span></a></div>

  </div>


</div>

<div class="nav-link" id="msg-cont"
  onmouseover="document.getElementById('msg-cont').setAttribute('class', 'nav-link2');
    get_dropdown('msg_menu',4);"
  onMouseOut="document.getElementById('msg-cont').setAttribute('class', 'nav-link');
    lose_dropdown('msg_menu',250,4);">
  <a href="/notifications.php" class="link-anchor">
  <span class="nav-link-cont">
  <span class="nav-text">Notices (0)</span>
  <div class="nav-arrow"></div>
  </span>
  </a>

    <div class="nav_menu" id="msg_menu"
    onmouseover="get_dropdown('msg_menu',4);" onMouseOut="lose_dropdown('msg_menu',1000,4);">
    <div class="menu_title">Latest Notifications</div>


        <div class="notice_item"><a href="/notifications.php?view=15280"><span class="menu_stuff">
           <span style="display:block; float:left; min-height: 100%; width: 10px;">&bull;</span>
          <span style="display:block; float:left; min-height: 100%; width: 170px;">Paper Babby (#53) has poked you!
          </span><span style="display:block;clear:both;"></span>
        </span></a></div>
        <div class="notice_item"><a href="/notifications.php?view=15251"><span class="menu_stuff">
           <span style="display:block; float:left; min-height: 100%; width: 10px;">&bull;</span>
          <span style="display:block; float:left; min-height: 100%; width: 170px;">Paper Babby (#53) has poked you!  (2)
          </span><span style="display:block;clear:both;"></span>
        </span></a></div>
        <div class="notice_item"><a href="/notifications.php?view=15209"><span class="menu_stuff">
           <span style="display:block; float:left; min-height: 100%; width: 10px;">&bull;</span>
          <span style="display:block; float:left; min-height: 100%; width: 170px;">Paper Babby (#53) has poked you!  (4)
          </span><span style="display:block;clear:both;"></span>
        </span></a></div>
        <div class="notice_item"><a href="/notifications.php?view=15110"><span class="menu_stuff">
           <span style="display:block; float:left; min-height: 100%; width: 10px;">&bull;</span>
          <span style="display:block; float:left; min-height: 100%; width: 170px;">Joy (#3456) has poked you!
          </span><span style="display:block;clear:both;"></span>
        </span></a></div>

    <div class="menu_title"></div>

    <div class="menu_item"><a href="/notifications.php"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/star_1.png" title="Messages" alt="Messages" /> Notifications
        (0)</span></a></div>
    <div class="menu_item"><a href="/messages.php"><span class="menu_stuff">
      <img src="http://images.pokeds.com/icons/email.png" title="Messages" alt="Messages" /> Messages
        (295)</span></a></div>
  </div>
</div>

</div>
</div>
